@using WebApp.Entities
@model IList<Patient>

@{
    Layout = "_Layout";
}

<div class="row">
    <h1>Patients List  
        <a href="@Url.Action("AddPatient","Patient")" style="float:right;" class="btn btn-primary">Add Patient</a></h1>
    
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">FullName</th>
                <th scope="col">Adhar No</th>
                <th scope="col">Mobile No</th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">Gender</th>
                <th scope="col">Active</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(Patient patient in Model)
            {
                <tr>
                    <td>@patient.PatientName</td>
                    <td>@patient.AdharNo</td>
                    <td>@patient.MobileNo</td>
                    <td>@if(patient.DateOfBirth != null)
                        @patient.DateOfBirth.Value.ToString("dd/MM/yyyy")
                    }
                        </td>
                    <td>@patient.Gender</td>
                    <td>@patient.IsActive</td>
                        <td><a href="@Url.Action("PatientDetail","Patient",new{patientId=patient.PatientId})">View</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>