@using WebApp.Entities;
@model Patient

@{
    Layout = "_Layout";
}

<link href="~/css/patient/patientdetail.css" rel="stylesheet" />

<div class="row">

    <div class="patient_container">
        <h1>Patient Profile
            <span style="float:right;">
                <a href="@Url.Action("GetPatients","Patient")" class="f20">Back</a> 
                <a href="@Url.Action("EditPatient","Patient",new{patientId=Model.PatientId})" class="f20">Edit</a>
            </span>
        </h1>

        <div class="profile-section">
            <div class="profile-picture">
                <img src="~/img/pf.png" alt="Profile Picture">
            </div>
            <div class="patient-details">
                <div class="details-label">Name:</div>
                <div class="details-value">@Model.PatientName</div>
                <div class="details-label">Date Of Birth:</div>
                <div class="details-value">@Model.DateOfBirth.Value.ToString("dd/MM/yyyy")</div>
                <div class="details-label">Gender:</div>
                <div class="details-value">
                    @if (Model.Gender.ToLower() == "m") 
                    {
                        <text>Male</text>
                    }
                    else if (Model.Gender.ToLower() == "f")
                    {
                        <text>Famela</text>
                    }
                    else
                    {
                        <text>Unknown</text>
                    }
                </div>
                <div class="details-label">Adhar No:</div>
                <div class="details-value">@Model.AdharNo</div>
                <div class="details-label">Nationality:</div>
                <div class="details-value">@Model.Nationality</div>
            </div>
        </div>

        <div class="separator"></div>

        <div class="medical-history">
            <h2>Medical History</h2>
            <div class="history-item">
                <span>Date:</span>
                <span>2024-01-16</span>
                <p>Details about the medical event or history item.</p>
            </div>
            <!-- Add more history items as needed -->
        </div>

    </div>

</div>